<body>
    <div class="bottle">
        <div class="container">
            <div class="latters">
                <span>П</span>
                <span>О</span>
                <span>Г</span>
                <span>Н</span>
                <span>А</span>
                <span>Л</span>
                <span>И</span>
                <span> </span>
                <span>В</span>
                <span></span>
                <span>Д</span>
                <span>О</span>
                <span>Т</span>
                <span>У</span>
                <span></span>
                <span>К</span>
                <span>А</span>
                <span>Т</span>
                <span>О</span>
                <span>Ч</span>
                <span>К</span>
                <span>У</span>
                <span>:</span>
                <span>)</span>
            </div>
            <div class="latters">
                <span>П</span>
                <span>О</span>
                <span>Г</span>
                <span>Н</span>
                <span>А</span>
                <span>Л</span>
                <span>И</span>
                <span> </span>
                <span>В</span>
                <span></span>
                <span>Д</span>
                <span>О</span>
                <span>Т</span>
                <span>У</span>
                <span></span>
                <span>К</span>
                <span>А</span>
                <span>Т</span>
                <span>О</span>
                <span>Ч</span>
                <span>К</span>
                <span>У</span>
                <span>:</span>
                <span>)</span>
            </div>
            <div class="latters">
                <span>П</span>
                <span>О</span>
                <span>Г</span>
                <span>Н</span>
                <span>А</span>
                <span>Л</span>
                <span>И</span>
                <span> </span>
                <span>В</span>
                <span></span>
                <span>Д</span>
                <span>О</span>
                <span>Т</span>
                <span>У</span>
                <span></span>
                <span>К</span>
                <span>А</span>
                <span>Т</span>
                <span>О</span>
                <span>Ч</span>
                <span>К</span>
                <span>У</span>
                <span>:</span>
                <span>)</span>
            </div>
            <div class="latters">
                <span>П</span>
                <span>О</span>
                <span>Г</span>
                <span>Н</span>
                <span>А</span>
                <span>Л</span>
                <span>И</span>
                <span> </span>
                <span>В</span>
                <span></span>
                <span>Д</span>
                <span>О</span>
                <span>Т</span>
                <span>У</span>
                <span></span>
                <span>К</span>
                <span>А</span>
                <span>Т</span>
                <span>О</span>
                <span>Ч</span>
                <span>К</span>
                <span>У</span>
                <span>:</span>
                <span>)</span>
            </div>
            <div class="latters">
                <span>П</span>
                <span>О</span>
                <span>Г</span>
                <span>Н</span>
                <span>А</span>
                <span>Л</span>
                <span>И</span>
                <span> </span>
                <span>В</span>
                <span></span>
                <span>Д</span>
                <span>О</span>
                <span>Т</span>
                <span>У</span>
                <span></span>
                <span>К</span>
                <span>А</span>
                <span>Т</span>
                <span>О</span>
                <span>Ч</span>
                <span>К</span>
                <span>У</span>
                <span>:</span>
                <span>)</span>
            </div>
            <div class="latters">
                <span>П</span>
                <span>О</span>
                <span>Г</span>
                <span>Н</span>
                <span>А</span>
                <span>Л</span>
                <span>И</span>
                <span> </span>
                <span>В</span>
                <span></span>
                <span>Д</span>
                <span>О</span>
                <span>Т</span>
                <span>У</span>
                <span></span>
                <span>К</span>
                <span>А</span>
                <span>Т</span>
                <span>О</span>
                <span>Ч</span>
                <span>К</span>
                <span>У</span>
                <span>:</span>
                <span>)</span>
            </div>
        </div>
    </div>